{% extends 'base.html.twig' %}

{% block title %}Modification Utilisateur{% endblock %}

{% block body %}
    <h1>Modification</h1>

    {{ include('registration/updateUser.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
