{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}
{% block search %}
<p>recherche</p>
{% endblock %}
{% block body %}

	<div class="d-flex flex-row w-100 mb-5">
		<h5 class="fw-normal mb-3">
			{{ controller_name }}
		</h5>
	</div>
	{% if is_granted('ROLE_ADMIN') %}
	<div class="d-flex flex-row w-100 mb-5">
		<h5 class="fw-normal mb-3">
			Statistique
		</h5>
	</div>

	<div class="d-flex flex-column w-100 mb-5">
		<h5 class="fw-normal mb-3">
			Utilisateur (code example)
		</h5>
		<div class="table-responsive rounded-custom bg-white shadow-custom text-center">
			<table class="table table-hover table-borderless text-dark">
				<thead >
					<tr>
						<th scope="col" style="width: 54px;">Id</th>
						<th scope="col" style="width: 90px;">Photo</th>
						<th scope="col">Rôle</th>
						<th scope="col">Nom</th>
						<th scope="col">Prénom</th>
						<th scope="col">Téléphone</th>
						<th scope="col">Adresse</th>
						<th scope="col">Mail</th>
						<th scope="col" style="width: 90px;">Actions</th>
					</tr>
					<tr>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col"><i class="bi bi-plus-circle"></i></th>
					</tr>
				</thead>
				<tbody>
				{% for i in 0..5 %}
					<tr class="align-middle">
						<td scope="row">#{{ i + 1 }}</td>
						<td><img src="https://avatars.dicebear.com/api/identicon/Johnson.Arthur.svg" height="32" width="32" alt="..." class="border border-secondary border-2 rounded-2 bg-light"></td>
						<td>Expert</td>
						<td>Johnson</td>
						<td>Arthur</td>
						<td>(+33)6 55 51 3035</td>
						<td>18 rue de Belleville 75020 Paris</td>
						<td>johnson.arthur@example.com</td>
						<td class="d-flex flex-row justify-content-evenly w-100"><i class="bi bi-pen"></i><i class="bi bi-trash text-danger"></i></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="d-flex flex-column w-100mb-5">
		<h5 class="fw-normal mb-3">
			Client (code example)
		</h5>
        <div class="table-responsive rounded-custom bg-white shadow-custom text-center">
			<table class="table table-hover table-borderless text-dark">
				<thead >
					<tr>
						<th scope="col" style="width: 54px;">Id</th>
						<th scope="col" style="width: 90px;">Photo</th>
						<th scope="col">Nom</th>
						<th scope="col">Prénom</th>
						<th scope="col">Téléphone</th>
						<th scope="col">Adresse</th>
						<th scope="col">Mail</th>
						<th scope="col" style="width: 90px;">Actions</th>
					</tr>
					<tr>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col" class="opacity-25">#</th>
						<th scope="col"><i class="bi bi-plus-circle"></i></th>
					</tr>
				</thead>
				<tbody>
				{% for i in 0..5 %}
					<tr class="align-middle">
						<td scope="row">#{{ i + 1 }}</td>
						<td><img src="https://avatars.dicebear.com/api/identicon/Miller.Mitchell.svg" height="32" width="32" alt="..." class="border border-secondary border-2 rounded-2 bg-light"></td>
						<td>Miller</td>
						<td>Mitchell</td>
						<td>(+33)7 35 55 84 97</td>
						<td>3 Rue Thouin 75005 Paris</td>
						<td>miller.mitchell@example.com</td>
						<td class="d-flex flex-row justify-content-evenly w-100"><i class="bi bi-pen"></i><i class="bi bi-trash text-danger"></i></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
{% endblock %}
