$primary:       #A055FF;
$secondary:     #20D489;
$success:       #20D489;
$info:          #00B2FF;
$warning:       #FFC700;
$danger:        #f1416c;
$light:         #fbf9f6;
$dark:          #022C43;


#baseHtmlBackground {
    background: linear-gradient(0deg, rgba(160, 85, 255, 0.75), rgba(160, 85, 255, 0.75)), url(../images/LoginBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
#baseBodyBackground {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    position: relative;
    font-family: Roboto;
}


#loginHtmlBackground {
    background: linear-gradient(0deg, rgba(160, 85, 255, 0.75), rgba(160, 85, 255, 0.75)),  url(../images/LoginBackground.png);
    background-size:auto
}
#loginBodyBackground {
    background: none;
}